#nav-bar-bg{
  background-color: aquamarine;
}
.bg-body-tertiary{
  border-radius: 15px;
  max-width: 1200px;
  min-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;   
  /* box-shadow: 12px 15px 7px 0px rgba(0,0,0,0.1); */
  box-shadow: -10px -10px 15px rgba(233, 243, 255, 0.363),
              10px 10px 15px rgba(0, 0, 0, 0.308);
}
.nav-bar-container img {
  display: block; /* 로고를 블록 요소로 설정 */
  margin: auto; /* 로고 가운데 정렬 */
}

/* navigation.css */
.custom-nav-link {
  color: #333; /* 기본 링크 색상 */
  transition: color 0.2s ease; /* 색상 변경 애니메이션 */
}
.custom-nav-link:hover {
  color: #666; /* 호버 시 색상 변경 */
}

.custom-nav-link.active {
  color: #537396; /* 활성화된 링크 색상 */
  border-bottom: 2px solid #537396; /* 활성화된 링크 아래 언더바 */
}